hr {
    height: 2px;
    background-color: orange;
}

footer {
    background-color:#2F3133;
    margin-top: 3%;
    color:oldlace;
    text-align: center;
    padding: 1%;
}

.jumbotron {
    background-color:#008B8B;
    color: oldlace;
    padding-top: 7%;
    padding-bottom: 7%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#Intro {
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
    font-family: 'Courgette', cursive;
}

#Timeline {
    margin: 3%;
}

#About .col-md-8{
    display: inline;
    text-align: justify;
}

#About {
    margin: 3%;
}

#About img{
    height: 60%;
    width: 60%;
}

h2 {
    color: #5398a7;
}